.card{
    padding: 20px;
    background-color: #fff;
    box-shadow: -1px -1px 5px 1px #0333481A;
    border-radius: 10px;
    /* height: fit-content; */
    /* max-height: 100px; */
}

.card .card_id_image{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_id_image .id{
    margin: 0;
    font-size: large;
    font-weight: 400;
    color: black;
    opacity: 0.8;
}
.avatar{
    height: 10px;
    width: 10px;
    background-color: rgb(133, 133, 245);
    opacity: 0.7;
    border-radius: 50%;
    padding: 8px;
    color: #fff;
    font-size: small;
    /* align-items: center; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    

}

.ticket_name{
    margin-top: 7px;
}
.ticket_name p{
    text-align: left;
    font-weight: 500;
    margin: 0;
    font-size: 17px;
    opacity: 0.9;
    
}

.card_footer{
    margin-top: 15px;
    width: 100%;
    /* margin: 0; */
    display: flex;
    align-items: center;
    gap: 15px;
}
.exc_icon{
    height: 20px;
    width: 20px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    opacity: 0.7;
    padding: 2px;
    font-size: large;
    /* padding-bottom: 3px; */
    border-radius: 5px;
    /* background-color: black; */
}

.tag{
    /* background-color: aqua; */
    margin: 0;
    display: flex;
    align-items: center;
    color: black;
    opacity: 0.6;
    gap: 4px;
    font-size: 16px;
    /* background-color: aquamarine; */
    padding: 3px 7.5px;
    border: 1px solid rgb(168, 164, 164);
    border-radius: 5px;
    
}

.indicator{
    height: 13px;
    width: 13px;
    background-color: black;
    opacity: 0.6;
    border-radius: 50%;
    margin-top: 2px;
    
}

.active_indicator{
    position: absolute;
    height: 9px;
    width: 9px;
    background-color: grey;
    border-radius: 50%;
    border: 1px solid #fff;
    /* left: 0px; */
    right: -4px;
    bottom: 3px;
    z-index: 1999999;
}
.active{
    background-color: orange;
}